Explain About Pyhton Function ?

-  A function is a block of code that performs a specific task.
-  you can pass data known as parameters into a function.
-  a function can return data as a result.

Type of Functions ?

-  Standard library functions : these are built in  functions in python that are availble to use.
-  User- defined function : we can create our own functions based on our requirments.

In [ ]:

def hello (name,age):
 print (f"my name {name} and i am {age}")
hello("sai",27)

my name sai and i am 27

In [ ]:
hello("atheesh",50)

my name atheesh and i am 50

In [ ]:
hello("raju",75)

my name raju and i am 75

In [ ]:
 def doodle (name,age,location):
  print(f"my name {name} and i am {age} and i am from {location}")
name = input("enter your name")
age = int(input("enter your age"))
location = input("enter your location")
doodle(name,age,location)

enter your namesai
enter your age27
enter your locationsdpt
my name sai and i am 27 and i am from sdpt

In [ ]:
bikes = ["fz","pulsar","duke","activa"]
print(bikes)

user = input ("please enter give me a bike")
if user in bikes:
  print("yes")
else:
  print("no")

['fz', 'pulsar', 'duke', 'activa']
please enter give me a bikexl
no

In [ ]:
# 1Q write a python code to check if  a number is a prime or not using function
# 2q print the following number pattern
# 3q write a python code to convert sellsias to forien kit
# 4q write a function to calculte simple intrest
# 5q write a function to calculate compound intrest
# 6Q wrie a python code converting an integer into decimal using in function
# 7q wrie a python code given character is digit or not
# 8q wrie a python code given character is amstrong or not
# 9q wrie a python code given strings are anagram or not
# 10q wrie a python code non repeating a first occurance
# 11q wrie a python of greatest common divisor
# 12q wrie a python code remove duplicates from a list
# 13Q wrie a python program to replace the string space by given character
# 14Q writ a python to swap two numbers by not using third value
# 15q to add two integer with out using any arthamatic operator

In [ ]:
# 1Q write a python code to check if  a number is a prime or not using function

x = int(input("enter a number"))

def prime(x):
  for i in range(2,x):
    if x % i == 0:
      print("not prime")
      break
  else:
    print("prime")
prime(x)

enter a number7
prime

In [ ]:
# 2q write a python code print the following number pattern
x = int(input("enter a number"))
for i in range(1,x+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print(i)

enter a number7
1 1
1 2 2
1 2 3 3
1 2 3 4 4
1 2 3 4 5 5
1 2 3 4 5 6 6
1 2 3 4 5 6 7 7

In [ ]:
# 4q write a function to calculte simple intrest
p = int(input("enter a principal"))
r = int(input("enter a rate"))
t = int(input("enter a months"))
def simple(p,r,t):
  print((p*r*t)/100)
simple(p,r,t)

enter a principal200000
enter a rate2
enter a months12
48000.0

In [ ]:
# 5q write a function to calculate compound intrest
p = int(input("enter a principal"))
r = int(input("enter a rate"))
t = int(input("enter a months"))
def compound(p,r,t):
  print(p*((1+(r/100))**t))
compound(p,r,t)

enter a principal200000
enter a rate2
enter a months12
253648.3589125091

In [ ]:
# 6Q wrie a python code converting an integer into decimal using in function
x = int(input("enter a number"))
def decimal(x):
  print(bin(x))
decimal(x)

enter a number12636
0b11000101011100

In [ ]:
# 7q write a python code given character is digit or not
x = input("enter a character")
def digit(x):
  if x.isdigit():
    print("digit")
  else:
    print("not digit")
digit(x)

enter a character143
digit

In [ ]:
# 8q write a python code given character is amstrong or not
x = input("enter a number")
def amstrong(x):
  sum = 0
  for i in x:
    sum += int(i)**3
  if sum == int(x):
    print("amstrong")
  else:
    print("not amstrong")
amstrong(x)

enter a number153
amstrong

In [ ]:
# 9q write a pyhton code  given strings are anagram or not
x = input("enter a string")
y = input("enter a string")
def anagram(x,y):
  if sorted(x) == sorted(y):
    print("anagram")
  else:
    print("not anagram")

In [ ]:
# 10q write a pyhton code on repeating a first occurance
x = input("enter a string")
def first(x):
  for i in x:
    if x.count(i) == 1:
      print(i)
      break
first(x)

enter a string45776
4

In [ ]:
# 11q write a python code of greatest common divisor
x = int(input("enter a number"))
y = int(input("enter a number"))
def gcd(x,y):
  if x > y:
    smaller = y
  else:
    smaller = x
  for i in range(1,smaller+1):
    if x % i == 0 and y % i == 0:
      gcd = i
  print(gcd)
gcd(x,y)

enter a number36
enter a number60
12

In [ ]:
# 12q write a python code using for functions remove duplicates from a list
x = [7,21,45,7,89,36,21,45,36,7,8,45,61,34,21]
def remove(x):
  y = []
  for i in x:
    if i not in y:
      y.append(i)
  print(y)
remove(x)

[7, 21, 45, 89, 36, 8, 61, 34]

In [ ]:
# 13Q wrie a python program to replace the string space by given character
x = input("enter a string")
y = input("enter a character")
def replace(x,y):
  print(x.replace(" ",y))
replace(x,y)

enter a string777
enter a characterlucky
777

In [ ]:
# 14Q writ a python to swap two numbers by not using third value
x = int(input("enter a number"))
y = int(input("enter a number"))
def swap(x,y):
  x,y = y,x
  print(x,y)
swap(x,y)

enter a number7
enter a number8
8 7

In [ ]:
# 15q to add two integer with out using any arthamatic operator
x = int(input("enter a number"))
y = int(input("enter a number"))
def add(x,y):
  while y != 0:
    carry = x & y
    x = x ^ y
    y = carry << 1
  return x
add(x,y)

enter a number20
enter a number40

60