wrie a rules and create a vairables
-  A variable name must start with a letter or the underscore character
-  A variable name cannot start with a digit
-  Variables are case-sensitive
-  A variable name must not have any keywords

what is type function ?

-  The type function in Python is a built-in function that returns the type of data stored in a variable or object in a program.

In [12]:
# example
x = 1.7
print(type(x))

<class 'float'>

what is the assiangment = to ==

-  The = operator is used for assignment, such as when assigning a value to a variable.
-  The == operator is the relational operator for checking equality of two values.

what is  difference between mutable and immutable ?

-  Mutable

   A mutable object can be changed after it's created.

-  Immutable

   An immutable object cannot be changed after it's created.

In [ ]:
# write a python code to print first to 10 natural numbers

i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# write a pyhton program sum(first ten natrual numbers)
sum = 0
for i in range(1,11):
    sum += i
print(sum)

55

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in x:
    sum += i
print(sum)

55

In [ ]:
# write a python program to identify given number is a prime number or not
# write a python program fibanki series
# write a python program to identify a given a factorial number
# write a python program to print multiplication table of given number
# write a python programto count total number of digits in a number
# write a python program  for reverse the list
# write a python program to display from (-10,-1)

In [ ]:
print (143 & 420)

132

In [ ]:
# write a python program to identify given number is a prime number or not

x = int(input("enter a number"))
for i in range(2,x):
    if x % i == 0:
        print("not a prime number")
        break
else:
    print("prime number")

enter a number12
not a prime number

In [ ]:
# write a python program to identify a given a factorial number
x = int(input("enter a number"))
fact = 1
for i in range(1,x+1):
    fact *= i
print(fact)

enter a number5
120

In [1]:
# write a python program to print multiplication table of given number

x = int(input("enter a number"))
for i in range(1,11):
    print(x,"*",i,"=",x*i)

enter a number15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [6]:
# write a python program to count total number of digits in a number

x = int(input("enter a number"))
count = 0
for i in str (x):
    count += 1
print(count)

enter a number2353
4

In [7]:
# write a program for reverse the list
x = [1,2,3,4,5,6,7,8,9,10]
x.reverse()
print(x)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
# write a pyhton program to display from (-10,-1) usinf loop

x = -10
while x < -1:
    print(x)
    x += 1

-10
-9
-8
-7
-6
-5
-4
-3
-2